<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>创建对局</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-list-header>
            对局信息
        </ion-list-header>
        <ion-item (click)="pickerShow({type:'input',label:'金额',name:'price',value:form.get('price').value})" detail>
            <ion-label>金额</ion-label>
            <ion-note>{{form.get('price').valid ? (form.get('price').value | currency:'￥') : '请选择对局金额'}}</ion-note>
        </ion-item>
        <ion-item (click)="presentPeoplesModal({label:'人员',name:'players',value:form.get('players').value})" detail>
            <ion-label>人员</ion-label>
            <ion-note>{{form.get('players').valid ? form.get('players').value : '请输入对局玩家'}}</ion-note>
        </ion-item>
        <ion-item (click)="presentPeoplesModal({label:'买码',name:'peripheries',value:form.get('peripheries').value})" detail lines="none">
            <ion-label>买码</ion-label>
            <ion-note>{{form.get('peripheries').value && form.get('peripheries').value.length > 0 ? form.get('peripheries').value : '请输入买码玩家'}}</ion-note>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col>
                    <ion-button (click)="submit()" [disabled]="this.form.invalid" expand="full">开始</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
