<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>跑得快结算器</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      对局信息
    </ion-list-header>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <ion-button expand="full">开始新的对局</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" color="secondary">添加记录</ion-button>
        </ion-col>
        <!--<ion-col>
          <ion-button expand="full" color="secondary">结束</ion-button>
        </ion-col>-->
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
